# Ferramentas externas (devem ser instaladas no sistema operacional):
# - host
# - nmap
# - nmblookup
# - nc (netcat)
# - rpcinfo
# - curl
# - dig
# - snmpget
# - ntpdc
# - ntpq
# - ldapsearch
# - hexdump
# - samba
# - whois
# - fping
